@import "blueprint/reset";
@import "partials/base";
@import "blueprint";

@import "blueprint/interaction";
@import "partials/_border-radius.sass";
@import "blueprint/buttons";
@import "partials/multi-line-button";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass/css3/gradient";
@import "blueprint/fancy-type";

body.bp {
	@include blueprint;
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;

	form {
	  @include blueprint-form;

		select {
			font-size: 1.5em;
		}

		label {
			font-size: 1.5em;
		}
	}

}

// My definitions

$blueprint-font-size: 1em;
$background-color: #eee;
$page-color: #fff;
$submit-button-color: #6F90BE;
$save-button-color: #3AB700;
$title-color: #FFA500;
$description-color: #666;
$message-font-size: $blueprint-font-size * 2;

body.bp {
	background-color: $background-color;
	
	#header, #footer {
		@include column($blueprint-grid-columns, true);
		@include prepend-top;
		@include append-bottom;
	}
		
	#container {
    @include container;
	}
	
	#notice {
		@include notice;
		@include prepend-top;
		font-size: $message-font-size;
	}
	
	#alert {
		@include error;
		@include prepend-top;
		font-size: $message-font-size;
	}
	
	h1 {
		font-size: $blueprint-font-size * 4;	
		@include text-shadow; 	
	}

	h2 {
		@include caps;
		font-size: $blueprint-font-size * 3;
		@include text-shadow; 
	}

	h3 {
		font-size: $message-font-size;
		color: $description-color;
	}
}

body.welcome {
	
	h1 {
		font-size: $blueprint-font-size * 6;	
		@include text-shadow; 	
	}
		
	#header, #footer {
		@include column($blueprint-grid-columns - 2, true);
		@include prepend(1);
		@include append(1);
	}
	
	.spacer {
		@include column(2);
	}
	
	#sign_in_sign_up_container {
		@include prepend(1);
		
		#sign_in_container {
			background-color: $page-color;
			@include column(10);
			@include box-shadow;
			@include border-radius("25px");
			@include append-bottom;
			height: $blueprint-grid-outer-width * 8;
			.submit_button {
				@include prepend-top(5em);
			}
		}

		#sign_up_container {
			background-color: $page_color;
			@include column(10, true);
			@include box-shadow;
			@include border-radius("25px");
			@include append-bottom;
			height: $blueprint-grid-outer-width * 8;
		}
		
		.form_title {
			@include prepend-top;
		}

		input {
			@include border-radius("10px");
		}

		.submit_button {
			@include color-multi-line-button($submit-button-color);
			@include button-button;
			@include border-radius("8px");
			@include append-bottom;
		}		
	}
		
	div#message {
		@include append-bottom;
		@include prepend-top;
	}
	
	div#message {
		@include append-bottom;
	}
}

body.dashboard {
	#dashboard_container {		
		#sidebar {
	    @include column(6, true);
			text-align: left;
		}
		
		.spacer {
			@include column(1);
		}	

	  #no_content {
	    @include column(16);
			text-align: left;
		}
	
	  #resume_preview {
			background-color: $page-color;
	    @include column(16);
			@include box-shadow;
			text-align: left;
			div {
				@include prepend-top;
				@include prepend(1);
			}			
		}
	}
}

body.employments, body.educations, body.profiles, body.projects {
	#sidebar {
    @include column(6, true);
		text-align: left;
	}
	
	.spacer {
		@include column(1);
	}	

  #content {
    @include column(16);
		text-align: left;
	}
		
	span.watermark {
    color: #999999;
    display: block;
    font-family: Lucida Grande;
    font-size: 18px;
    height: 34px;
    left: 9px;
    line-height: 34px;
    pointer-events: none;
    position: absolute;
    text-align: left;
    top: 9px;
	}
		
	form {
		p {
			font-weight: bold;
			font-size: 1.5em;
			display: inline;
		}
		
		.iPhoneCheckContainer {
			margin-left: 1em;
			float: left;
		}
		
		.save_button {
			margin-top: 3em;
			clear: both;
			@include color-multi-line-button($save-button-color);
			@include button-button;
			@include border-radius("8px");
			@include append-bottom;
			font-size: 1.5em;
		}

		textarea#employment_summary, textarea#education_summary, textarea#project_description {
			width: 300px;
			height: 5em;
			color: #999999;
	    font-family: Lucida Grande;
	    font-size: 18px;
		}

		textarea {
			display: block;
		}
		
		.block {
			display: block;
		}
		
		label.hidden {
			display: none;
		}
		
		label.checkbox {
			float: left;
			display: inline;
		}
		
		div#current, div#end, div#start {
			float: left;
		}
		
		div#end {
			margin-left: .5em;
		}
	}
}

body.profiles {
	input, label {
		display: block;
	}
}