@import "blueprint/reset";
@import "partials/base";
@import "blueprint";

@import "blueprint/interaction";
@import "partials/_border-radius.sass";
@import "blueprint/buttons";
@import "partials/multi-line-button";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass/css3/gradient";
@import "blueprint/fancy-type";

body.bp {
	@include blueprint;
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;

	form {
	  @include blueprint-form;
	}

}

// My definitions

$blueprint-font-size: 1em;
$background-color: #eee;
$page-color: #fff;
$submit-button-color: #6F90BE;
$title-color: #FFA500;
$description-color: #666;
$message-font-size: $blueprint-font-size * 2;

body.bp {
	background-color: $background-color;
	
	#header, #footer {
		@include column($blueprint-grid-columns, true);
		@include prepend-top;
		@include append-bottom;
	}
		
	#container {
    @include container;
	}
	
	#notice {
		@include notice;
		@include prepend-top;
		font-size: $message-font-size;
	}
	
	#alert {
		@include error;
		@include prepend-top;
		font-size: $message-font-size;
	}
	
	h1 {
		font-size: $blueprint-font-size * 4;	
		@include text-shadow; 	
	}

	h2 {
		@include caps;
		font-size: $blueprint-font-size * 3;
		@include text-shadow; 
	}

	h3 {
		font-size: $message-font-size;
		color: $description-color;
	}
}

body.welcome {
	
	h1 {
		font-size: $blueprint-font-size * 6;	
		@include text-shadow; 	
	}
		
	#header, #footer {
		@include column($blueprint-grid-columns - 2, true);
		@include prepend(1);
		@include append(1);
	}
	
	.spacer {
		@include column(2);
	}
	
	#sign_in_sign_up_container {
		@include prepend(1);
		
		#sign_in_container {
			background-color: $page-color;
			@include column(10);
			@include box-shadow;
			@include border-radius("25px");
			@include append-bottom;
			height: $blueprint-grid-outer-width * 8;
			.submit_button {
				@include prepend-top(5em);
			}
		}

		#sign_up_container {
			background-color: $page_color;
			@include column(10, true);
			@include box-shadow;
			@include border-radius("25px");
			@include append-bottom;
			height: $blueprint-grid-outer-width * 8;
		}
		
		.form_title {
			@include prepend-top;
		}

		input {
			@include border-radius("10px");
		}

		.submit_button {
			@include color-multi-line-button($submit-button-color);
			@include button-button;
			@include border-radius("8px");
			@include append-bottom;
		}		
	}
		
	div#message {
		@include append-bottom;
		@include prepend-top;
	}
	
	div#message {
		@include append-bottom;
	}
}

body.dashboard {
	#dashboard_container {		
		#sidebar {
	    @include column(6, true);
			text-align: left;
		}
		
		.spacer {
			@include column(1);
		}	

	  #no_content {
	    @include column(16, true);
			text-align: left;
		}
	
	  #content {
			background-color: $page-color;
	    @include column(16, true);
			@include box-shadow;
			text-align: left;
		}
	}
}